@charset "UTF-8";
/* Код для подключения шрифта в /css/stylename.css */
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.header__home #main-slider {
  min-height: 900px;
  height: 900px;
  overflow: hidden; }
  .header__home #main-slider img {
    position: absolute;
    z-index: -1;
    height: 900px; }
  .header__home #main-slider .container-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 900px; }

.main-slider__content {
  color: white;
  text-transform: uppercase;
  width: 80%;
  margin-top: 100px; }
  .main-slider__content h2 {
    font-size: 2.25rem;
    font-family: "OpenSansExtraBold", sans-serif;
    margin-bottom: 10px; }
  .main-slider__content h3 {
    font-size: 1.25rem;
    font-family: "OpenSansLight", sans-serif;
    line-height: 30px;
    margin: 0; }

.main-slider__links {
  margin-top: 30px; }
  .main-slider__links a {
    display: inline-block;
    padding: 30px 0;
    text-align: center;
    min-width: 215px;
    width: auto;
    color: white;
    text-transform: uppercase;
    margin-right: 30px;
    border: 1px solid white;
    transition: all linear .5s; }
    .main-slider__links a:hover {
      background-color: rgba(255, 255, 255, 0.3); }

footer {
  min-height: 475px;
  background: url("../img/general/footer-bg.jpg") no-repeat center center;
  background-size: cover;
  color: white; }
  footer .footer-logo {
    position: relative;
    background-color: #008790;
    margin-top: -22px;
    padding: 35px 0 25px;
    width: 97%;
    margin-bottom: 40px; }
    footer .footer-logo:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: -538px;
      top: 0px;
      background-color: #008790; }
    footer .footer-logo a {
      float: left;
      margin-right: 35px;
      margin-top: -27px; }
    footer .footer-logo span {
      display: block;
      font-size: 1.625rem;
      font-family: "OpenSansBold", sans-serif;
      text-transform: uppercase;
      line-height: 27px; }
  footer p {
    margin-bottom: 30px;
    font-size: 0.9375rem; }

.footer-contact {
  padding: 0;
  padding-top: 80px; }
  .footer-contact li {
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "OpenSansBold", sans-serif;
    padding-bottom: 15px;
    text-decoration: underline; }
    .footer-contact li .footer-contact__sublist {
      padding: 0; }
      .footer-contact li .footer-contact__sublist li {
        position: relative;
        font-size: 1rem;
        text-transform: none;
        border-bottom: none;
        font-family: "OpenSansRegular", sans-serif;
        padding: 0;
        padding-left: 15px;
        text-decoration: none;
        display: block;
        text-decoration: none;
        margin-top: 25px; }
        .footer-contact li .footer-contact__sublist li a {
          color: white;
          text-decoration: none; }
        .footer-contact li .footer-contact__sublist li:before {
          content: '';
          position: absolute;
          left: -15px;
          top: 0; }
    .footer-contact li .footer-contact__sublist2 li {
      font-size: 1rem;
      text-transform: none;
      border: none;
      font-family: "OpenSansRegular", sans-serif;
      display: block; }
      .footer-contact li .footer-contact__sublist2 li a {
        color: white;
        text-decoration: none; }

.footer-contact__sublist-mail:before {
  background: url("../img/icons/mail.png") no-repeat;
  width: 17px;
  height: 13px; }

.footer-contact__sublist-phone:before {
  background: url("../img/icons/phone.png") no-repeat;
  width: 17px;
  height: 17px; }

.footer-contact__sublist-address:before {
  background: url("../img/icons/map.png") no-repeat;
  width: 19px;
  height: 19px; }

.footer-contact__sublist-in:before {
  background: url("../img/icons/in.png") no-repeat;
  width: 14px;
  height: 14px; }

html,
body {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

li {
  list-style: none; }

.home__section1 {
  padding-bottom: 90px;
  background: url("../img/general/bg-decor.png") no-repeat 93% 100px; }
  .home__section1 .container {
    position: relative; }
    .home__section1 .container:before {
      content: 'About us';
      position: absolute;
      left: -105px;
      top: 80px;
      font-family: "OpenSansBold", sans-serif;
      font-size: 24px;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      text-transform: uppercase; }
    .home__section1 .container:after {
      content: 'who we are';
      position: absolute;
      left: -65px;
      top: 71px;
      font-family: "OpenSansSemiBold", sans-serif;
      font-size: 16px;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }

.link-img {
  position: relative;
  min-height: 700px;
  margin-bottom: 50px; }
  .link-img .link-img__content {
    max-width: 250px;
    position: absolute;
    right: 30px;
    bottom: 30px; }
    .link-img .link-img__content p {
      font-family: "OpenSansSemiBold", sans-serif;
      font-size: 1.410rem;
      color: white;
      margin-bottom: 30px; }
    .link-img .link-img__content a {
      background-color: rgba(0, 135, 144, 0.6);
      color: white;
      text-transform: uppercase;
      padding: 22px 30px;
      border: 1px solid white;
      display: inline-block;
      transition: all linear .5s; }
      .link-img .link-img__content a:hover {
        background-color: #008790; }

.section-text .section-title {
  font-size: 1.75rem;
  font-family: "OpenSansBold", sans-serif;
  margin-bottom: 50px;
  margin-top: 50px; }

.section-text .txt {
  font-size: 1.125rem;
  font-family: "OpenSansLight", sans-serif;
  margin-bottom: 45px; }

.framed {
  margin-top: -100px;
  width: 100%;
  border: 10px solid #b5d5d8; }

#home__section1-img1 {
  background: url("../img/content/section1_content1.jpg") no-repeat center center;
  background-size: cover; }

.clients {
  background-color: #f1f1f1;
  min-height: 190px;
  padding-top: 50px; }
  .clients .container {
    position: relative; }
    .clients .container:before {
      content: 'Clients';
      position: absolute;
      left: -105px;
      top: -70px;
      font-family: "OpenSansBold", sans-serif;
      font-size: 24px;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      text-transform: uppercase; }
    .clients .container:after {
      content: 'some subtext goes here';
      position: absolute;
      left: -124px;
      top: -20px;
      font-family: "OpenSansSemiBold", sans-serif;
      font-size: 16px;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .clients ul {
    padding: 0;
    margin: 0;
    width: 108%;
    margin-left: -2%; }
    .clients ul li {
      display: inline-block;
      width: 19%; }
      .clients ul li img {
        display: block;
        margin: 0 auto; }

.feautures {
  padding: 80px 0 20px; }

.feautures-table {
  display: table;
  width: 100%;
  margin-bottom: 50px; }
  .feautures-table .feautures-cell {
    display: table-cell;
    padding-right: 23px; }
    .feautures-table .feautures-cell:last-child {
      padding-right: 0; }
    .feautures-table .feautures-cell h3 {
      position: relative;
      font-size: 1.125rem;
      font-family: "OpenSansBold", sans-serif;
      height: 40px;
      padding-left: 50px;
      padding-bottom: 20px; }
      .feautures-table .feautures-cell h3:before {
        content: '';
        position: absolute;
        background: url("../img/icons/icon-cross.png") no-repeat;
        width: 30px;
        height: 30px;
        top: -8px;
        left: 0; }
    .feautures-table .feautures-cell p {
      font-size: 0.875rem; }

.officers {
  background: url("../img/general/officers-bg.jpg") no-repeat center top;
  background-size: cover;
  padding: 100px 0 50px 0; }
  .officers .container {
    position: relative; }
    .officers .container:before {
      content: 'Head Office';
      position: absolute;
      left: -135px;
      top: -105px;
      font-family: "OpenSansBold", sans-serif;
      font-size: 24px;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      text-transform: uppercase; }
    .officers .container:after {
      content: 'some subtext goes here';
      position: absolute;
      left: -124px;
      top: -82px;
      font-family: "OpenSansSemiBold", sans-serif;
      font-size: 16px;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }

.officer-card {
  background-color: #fff;
  border: 1px solid #008790;
  padding: 50px;
  margin-top: 70px;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 1px 2px 12px -3px #000; }
  .officer-card img {
    display: block;
    margin: -100px auto 15px auto;
    border: 1px solid #008790; }
  .officer-card .officer-name {
    display: block;
    font-size: 1.375rem;
    font-family: "OpenSansBold", sans-serif;
    margin-bottom: 10px; }
  .officer-card .officer-position {
    display: block;
    font-size: 1.125rem;
    font-family: "OpenSansSemiBold", sans-serif;
    color: #008790;
    margin-bottom: 20px; }

.professionals {
  padding: 120px 0 50px 0;
  background: url("../img/general/bg-decor.png") no-repeat 8% 70%; }
  .professionals .container {
    position: relative; }
    .professionals .container:before {
      content: 'Meet the Network';
      position: absolute;
      left: -183px;
      top: 50px;
      font-family: "OpenSansBold", sans-serif;
      font-size: 24px;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      text-transform: uppercase; }
    .professionals .container:after {
      content: 'of professionals';
      position: absolute;
      left: -100px;
      top: -5px;
      font-family: "OpenSansSemiBold", sans-serif;
      font-size: 16px;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .professionals p {
    font-size: 1.125rem; }
  .professionals .professional-img {
    position: relative;
    overflow: hidden;
    width: 259px;
    display: block;
    margin: 0 auto; }
    .professionals .professional-img img {
      display: block;
      height: auto;
      overflow: hidden;
      transition: all .5s ease; }
    .professionals .professional-img .overlay {
      position: absolute;
      padding: 0 20px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 135, 144, 0.8);
      overflow: hidden;
      height: 0;
      width: 260px;
      transition: all .5s ease; }
    .professionals .professional-img:hover .overlay {
      height: 100%; }
    .professionals .professional-img:hover img {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    .professionals .professional-img .overlay-text {
      color: white;
      overflow: hidden;
      font-size: 0.9475rem;
      width: 220px;
      top: 50%;
      position: absolute;
      -webkit-transform: translateY(-70%);
      -ms-transform: translateY(-70%);
      transform: translateY(-70%); }
      .professionals .professional-img .overlay-text span {
        font-family: "OpenSansBold", sans-serif;
        display: block; }
    .professionals .professional-img .overlay-link {
      text-align: center;
      bottom: 15px;
      left: 60px;
      position: absolute; }
      .professionals .professional-img .overlay-link a {
        position: relative;
        width: 40px;
        height: 40px;
        display: inline-block;
        margin: 3px;
        background-color: rgba(0, 0, 0, 0.3);
        transition: all .5s linear; }
        .professionals .professional-img .overlay-link a:hover {
          background-color: rgba(0, 0, 0, 0.6); }
      .professionals .professional-img .overlay-link .twitter:before {
        content: '';
        position: absolute;
        background: url("../img/icons/tw.svg") no-repeat;
        background-size: 25px 25px;
        width: 25px;
        height: 25px;
        left: 9px;
        top: 9px; }
      .professionals .professional-img .overlay-link .facebook:before {
        content: '';
        position: absolute;
        background: url("../img/icons/fb.svg") no-repeat;
        background-size: 25px 25px;
        width: 25px;
        height: 25px;
        left: 10px;
        top: 7px; }
      .professionals .professional-img .overlay-link .google:before {
        content: '';
        position: absolute;
        background: url("../img/icons/google.svg") no-repeat;
        background-size: 25px 25px;
        width: 25px;
        height: 25px;
        left: 10px;
        top: 10px; }

.professional-desc a {
  color: #008790;
  font-family: "OpenSansSemiBold", sans-serif;
  font-size: 1.063rem;
  display: block;
  margin-top: 20px; }

.professional-desc:hover a {
  color: #062033; }

.professional-desc span {
  color: rgba(6, 32, 51, 0.56);
  font-size: 0.75rem; }

#professionals-slider {
  margin-top: 50px; }

.accreditation {
  padding: 50px 0;
  background-color: #f1f1f1; }
  .accreditation p {
    font-size: 1.25rem;
    font-family: "OpenSansLight", sans-serif;
    padding: 30px 0; }
  .accreditation .certificate {
    display: block;
    margin: 0 auto;
    border: 10px solid #f7f7f7; }

.news-blog__section {
  padding: 80px 0 120px 0;
  background: url("../img/general/bg-decor.png") no-repeat 93% 100px; }
  .news-blog__section .news-img {
    overflow: hidden;
    position: relative; }
    .news-blog__section .news-img img {
      display: block;
      margin: 0 auto;
      width: 100%; }
    .news-blog__section .news-img .news-img__desc {
      position: absolute;
      bottom: 30px;
      left: 50px; }
      .news-blog__section .news-img .news-img__desc .news-img__title {
        color: white;
        text-transform: uppercase;
        font-size: 0.9375rem;
        margin-right: 15px;
        display: inline-block; }
      .news-blog__section .news-img .news-img__desc .news__date {
        color: white; }
  .news-blog__section .news-blog__body {
    padding: 30px 50px; }
    .news-blog__section .news-blog__body .news-blog__title {
      font-size: 1.25rem;
      font-family: "OpenSansBold", sans-serif;
      line-height: 30px;
      margin: 0 0 25px 0; }
    .news-blog__section .news-blog__body .news-blog__text {
      font-family: "OpenSansLight", sans-serif;
      font-size: 0.9375rem;
      color: #212121; }
      .news-blog__section .news-blog__body .news-blog__text span {
        line-height: 24px;
        height: 67px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; }
    .news-blog__section .news-blog__body .readMoreLink {
      color: #008790;
      font-family: "OpenSansBold", sans-serif;
      font-size: 0.9375rem;
      display: inline; }
  .news-blog__section .news__date {
    font-size: 0.8125rem; }
  .news-blog__section .news__category {
    color: #008790;
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 0.9375rem; }

.news-small__blog,
.news-big__blog {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  background-color: #fff; }

.news-big__blog {
  height: 685px;
  border-bottom: 3px solid #008790; }

.news-small__blog {
  height: 215px;
  border-bottom: 3px solid #008790; }
  .news-small__blog .news-blog__title {
    line-height: 24px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; }

@media screen and (max-width: 1190px) {
  .feautures-table {
    margin-bottom: 15px; }
    .feautures-table .feautures-cell {
      display: inline-block;
      width: 50%; } }

@media screen and (max-width: 650px) {
  .feautures-table {
    margin-bottom: 15px; }
    .feautures-table .feautures-cell {
      display: block;
      width: 100%; }
  .news-small__blog {
    height: auto; } }
