@import 'vendors/variables.scss';
@import 'vendors/fonts.scss';
@import 'vendors/mixin.scss';
@import 'vendors/header.scss';
@import 'vendors/footer.scss';


html,
body {
	font-family: $regularFont;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

li {
	list-style: none;
}

.wrapper {
	overflow: hidden;
}

.section-description {
	position: absolute;
	text-align: right;			
	transform: rotate(-90deg);

	h2 {
		font-family: $boldFont;
		font-size: 24px;
		text-transform: uppercase;
		margin: 0;
	}

	span {
		display: block;				
		font-family: $semiBoldFont;
		font-size: 16px;
	}

}

.home__section1 {
	padding-bottom: 90px;
	background: url('../img/general/bg-decor.png') no-repeat 93% 100px;

	.container {
		position: relative;

		.section-description {
			top: 80px;
			left: -104px;
		}
	}
	
}

.link-img {
	position: relative;
	min-height: 700px;
	margin-bottom: 50px;
	margin-top: -100px;
	width: 100%;	
	border: 10px solid #b5d5d8;

	.link-img__content {
		max-width: 250px;
		position: absolute;
		right: 30px;
		bottom: 30px;

		p {
			font-family: $semiBoldFont;
			font-size: 1.410rem;
			color: white;
			margin-bottom: 30px;
	    }

	    a {
	    	background-color: rgba(0, 135, 144, 0.6);
	    	color: white;
	    	text-transform: uppercase;
	    	padding: 22px 30px;
	    	border: 1px solid white;
	    	display: inline-block;
	    	transition: all linear .5s;

	    	&:hover {
	    		background-color: $mainAccentColor;
	    	}
	    }
	}

}


.section-text {

	.section-title {
		font-size: 1.75rem;
		font-family: $boldFont;
		margin-bottom: 50px;
		margin-top: 50px;

	}

	.txt {
		font-size: 1.125rem;
		font-family: $lightFont;
		margin-bottom: 45px;
	}
}

.framed {
	margin-top: -100px;
	width: 100%;	
	border: 10px solid #b5d5d8;
}

#home__section1-img1 {
	background: url('../img/content/section1_content1.jpg') no-repeat center center;
	background-size: cover;
}


.clients {
	background-color: $lightGrey;
	min-height: 190px;
	padding-top: 50px;
	padding-bottom: 30px;

	.container {
		position: relative;
		.section-description {
			top: -40px;			
			left: -132px;
		}
	}


	ul {
		padding: 0;
		margin: 0;
		width: 108%;
   		margin-left: -2%;

		li {
			display: inline-block;
			width: 19%;

			img {
				display: block;
				margin: 0 auto;
			}

		}
	}

	
}

.feautures {
	padding: 80px 0 20px;
}

.feautures-table {
	display: table;
	width: 100%;	
	margin-bottom: 50px;

	.feautures-cell {
		display: table-cell;
		padding-right: 23px;

		&:last-child {
			padding-right: 0;
		}

		h3 {
			position: relative;
			font-size: 1.125rem;
			font-family: $boldFont;
			height: 40px;
			padding-left: 50px;
			padding-bottom: 20px;

			&:before {
				content: '';
				position: absolute;
				background: url('../img/icons/icon-cross.png') no-repeat;
				width: 30px;
				height: 30px;
				top: -8px;
				left: 0;

			}
		}

		p {
			font-size: 0.875rem;

		}

	}
}

.officers {
	background: url('../img/general/officers-bg.jpg') no-repeat center top;
	background-size: cover;
	padding: 100px 0 50px 0;

	.container {
		position: relative;
		.section-description {
			top: -95px;
			left: -132px;
		}
	}
}

.officer-card {

	background-color: #fff;
	border: 1px solid $mainAccentColor;
	padding: 50px;
	margin-top: 70px;
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	box-shadow: 1px 2px 12px -3px #000;

	img {
		display: block;
		margin: -100px auto 15px auto;
		border: 1px solid $mainAccentColor;
		
	}

	.officer-name {
		display: block;
		font-size: 1.375rem;
		font-family: $boldFont;
		margin-bottom: 10px;
	}

	.officer-position {
		display: block;
		font-size: 1.125rem;
		font-family: $semiBoldFont;
		color: $mainAccentColor;
		margin-bottom: 20px;
	}

	p {

	}
}

.professionals {
	padding: 120px 0 50px 0;
	background: url('../img/general/bg-decor.png') no-repeat 8% 70%;

	.container {
		position: relative;
		.section-description {
			top: 27px;
			left: -157px;
		}
	}

	p {
		font-size: 1.125rem;
	}

	.professional-img {
		position: relative;
		overflow: hidden;		
		width: 259px;
		display: block;
		margin: 0 auto;

		img {
			display: block;
			height: auto;
			overflow: hidden;
			transition: all .5s ease;
		}

		.overlay {
			position: absolute;
			padding: 0 20px;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 135, 144, 0.8);
			overflow: hidden;
			height: 0;
			width: 260px;
			transition: all .5s ease;

		}

		&:hover {
			.overlay {
				height: 100%;
			}
			img {
				transform: scale(1.1);
			}
		}

		.overlay-text {
			color: white;
			overflow: hidden;
			font-size: 0.9475rem;
			width: 220px;
			top: 50%;
			position: absolute;
			transform: translateY(-70%);

			span {
				font-family: $boldFont;
				display: block;
			}

		}

		.overlay-link {
			text-align: center;
			bottom: 15px;
			left: 60px;
			position: absolute;

			a {		

		     	position: relative;		
				width: 40px;
				height: 40px;
				display: inline-block;
				margin: 3px;
				background-color: rgba(0, 0, 0, .3);
				transition: all .5s linear;

				&:hover {
					background-color: rgba(0, 0, 0, .6);
				}
			}

			.twitter {

				&:before {
					content: '';
					position: absolute;
					background: url('../img/icons/tw.svg') no-repeat;
					background-size: 25px 25px;
					width: 25px;
					height: 25px;
					left:9px;
					top: 9px;

				}
			}

			.facebook {
				&:before {
					content: '';
					position: absolute;
					background: url('../img/icons/fb.svg') no-repeat;
					background-size: 25px 25px;
					width: 25px;
					height: 25px;
					left: 10px;
					top: 7px;

				}
			}

			.google {

				&:before {
					content: '';
					position: absolute;
					background: url('../img/icons/google.svg') no-repeat;
					background-size: 25px 25px;
					width: 25px;
					height: 25px;
					left: 10px;
					top: 10px;

				}
			}
		}
	}
}

.professional-desc {


	a{
		color: $mainAccentColor;
		font-family: $semiBoldFont;
		font-size: 1.063rem;
		display: block;
		margin-top: 20px;
	}

	&:hover {
		a {
			color: #062033;
		}
	}

	span {
		color: rgba(6, 32, 51, 0.56);
		font-size: 0.75rem;
	}
}

#professionals-slider {
	margin-top: 50px;

}

.accreditation {
	padding: 50px 0;
	background-color: $lightGrey;

	.container {
		position: relative;
		.section-description {
			top: -58px;
			left: -135px;
		}
	}


	p {
		font-size: 1.25rem;
		font-family: $lightFont;
		padding: 30px 0;
	}

	.certificate {
		display: block;
		margin: 0 auto;
		border: 10px solid #f7f7f7;
	}
}

.news-blog__section {
	padding: 80px 0 120px 0;
	background: url('../img/general/bg-decor.png') no-repeat 93% 100px;

	.container {
		position: relative;
		.section-description {
			top: -13px;
			left: -110px;
		}
	}

	.news-img {
		overflow: hidden;
		position: relative;
		

		img {
			display: block;
			margin: 0 auto;
			width: 100%;
		}

		.news-img__desc {
			position: absolute;
			bottom: 30px;
			left: 50px;

			.news-img__title {
				color: white;
				text-transform: uppercase;
				font-size: 0.9375rem;
				margin-right: 15px;
				display: inline-block;
			}

			.news__date {
				color: white;
			}

		}	
	}

	.news-blog__body {

		padding: 30px 50px;

		.news-blog__title {
			font-size: 1.25rem;
			font-family: $boldFont;
			line-height: 30px;
			margin: 0 0 25px 0;
		}

		.news-blog__text {
			font-family: $lightFont;
			font-size: 0.9375rem;
			color: #212121;

			span {					
				line-height: 24px;
			    height: 67px;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    display: -webkit-box;
			    -webkit-line-clamp: 3;
			   -webkit-box-orient: vertical;
			}
			
		}

		.readMoreLink {
			color: $mainAccentColor;
			font-family: $boldFont;
			font-size: 0.9375rem;
			display: inline;
		}
	}

	.news__date {
		font-size: 0.8125rem;
	}

	.news__category {
		color: $mainAccentColor;
		text-transform: uppercase;
		margin-right: 15px;
		font-size: 0.9375rem;		
	}	


}

.news-small__blog,
.news-big__blog {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
	margin-bottom: 20px;
	background-color: #fff;
}

.news-big__blog {
	height: 685px;
	border-bottom: 3px solid $mainAccentColor;

}

.news-small__blog {
	height: 215px;	
	border-bottom: 3px solid $mainAccentColor;

	.news-blog__title {
		    line-height: 24px;
		    height: 30px;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    display: -webkit-box;
		    -webkit-line-clamp: 1;
		   -webkit-box-orient: vertical;
	}
}

.img-gradient {
	background: linear-gradient(transparent, rgba(0, 0, 0, .3));
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@import 'vendors/responsive.scss';